body {
    background-color: gray;
    margin: 0px;
    border: 0px;
    padding: 0px;
}
header {
    background-color: gray;
}
#main {
    width: 100%;
}
footer{
    background-color: gray;
}
div {
    text-align: center;
}
.bottom {
    border-radius: 50%;
    max-width: 20%;
    margin: 30px;
    border: 20px solid rgb(68, 68, 68);
}