body {
    background-color: white;
}
header {
    background-color: white;
}
#main {
    width: 100%;
}
footer{
    background-color: gray;
}
.bottom {
    border-radius: 50%;
    width: 27%;
    margin: 30px;
    border: 20px solid rgb(68, 68, 68);
}